# Preprocessing

In [1]:
#import packages

import numpy as np
import pandas as pd
from sklearn import datasets
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

#import data
train_data = pd.read_csv ('train.csv')
test_data = pd.read_csv ('test.csv')

#convert Sex values to 0 for Male and 1 for Female
train_data[['Sex']] = (train_data[['Sex']].apply(lambda x: pd.factorize(x)[0]))
test_data[['Sex']] = (train_data[['Sex']].apply(lambda x: pd.factorize(x)[0]))

#Convert below features to be categorical

train_data['Sex'] = pd.Categorical(train_data.Sex).codes

print (train_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
5                                     Moran, Mr. James    0   NaN      0
6                              McCarthy, Mr. Timothy J    0  54.0      0
7                       Palsson, Master. Gosta Leonard    0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut    1   4.0      1
11                            Bonnell, Miss. Elizabeth    1  58.0      0
12                      Saundercock, Mr. William Henry    0  20.0      0
13                         Andersson, Mr. Anders Johan    0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)     1  55.0      0
16                                Rice, Master. Eugene    0   2.0      4
17                        Williams, Mr. Charles Eugene    0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1  31.0      1
19                             Masselmani, Mrs. Fatima    1   NaN      0
20                                Fynney, Mr. Joseph J    0  35.0      0
21                               Beesley, Mr. Lawrence    0  34.0      0
22                         McGowan, Miss. Anna "Annie"    1  15.0      0
23                        Sloper, Mr. William Thompson    0  28.0      0
24                       Palsson, Miss. Torborg Danira    1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1  38.0      1
26                             Emir, Mr. Farred Chehab    0   NaN      0
27                      Fortune, Mr. Charles Alexander    0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"    1   NaN      0
29                                 Todoroff, Mr. Lalio    0   NaN      0
..                                                 ...  ...   ...    ...
861                        Giles, Mr. Frederick Edward    0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"    1   NaN      8
864                             Gill, Mr. John William    0  24.0      0
865                           Bystrom, Mrs. (Karolina)    1  42.0      0
866                       Duran y More, Miss. Asuncion    1  27.0      1
867               Roebling, Mr. Washington Augustus II    0  31.0      0
868                        van Melkebeke, Mr. Philemon    0   NaN      0
869                    Johnson, Master. Harold Theodor    0   4.0      1
870                                  Balkic, Mr. Cerin    0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1  47.0      1
872                           Carlsson, Mr. Frans Olof    0  33.0      0
873                        Vander Cruyssen, Mr. Victor    0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)    1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"    1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    0  20.0      0
877                               Petroff, Mr. Nedelio    0  19.0      0
878                                 Laleff, Mr. Kristo    0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    1  25.0      0
881                                 Markun, Mr. Johann    0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    1  22.0      0
883                      Banfield, Mr. Frederick James    0  28.0      0
884                             Sutehall, Mr. Henry Jr    0  25.0      0
885               Rice, Mrs. William (Margaret Norton)    1  39.0      0
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [2]:
train_data['Age'].shape

(891,)

In [3]:
# Check if Age is important 
train_data.groupby('Survived')['Age'].mean()

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [4]:
# Add a new feature FamSz for Family Size 

train_data['FamSz'] = train_data['Parch'] + train_data['SibSp'] + 1
test_data['FamSz'] = test_data['Parch'] + train_data['SibSp'] + 1
train_data.groupby('Survived')['FamSz'].value_counts()

Survived  FamSz
0         1        374
          2         72
          3         43
          6         19
          5         12
          4          8
          7          8
          11         7
          8          6
1         1        163
          2         89
          3         59
          4         21
          7          4
          5          3
          6          3
Name: FamSz, dtype: int64

In [5]:
train_data['CatFare']= pd.qcut(train_data.Fare, q=4, labels=False)

In [6]:
#Drop columns we won't be using

train_data = train_data.drop(['Name', 'Ticket','Cabin', 'Embarked', 'Age'], axis = 1)
test_data = test_data.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Age'], axis = 1)



print(train_data)

     PassengerId  Survived  Pclass  Sex  SibSp  Parch      Fare  FamSz  \
0              1         0       3    0      1      0    7.2500      2
1              2         1       1    1      1      0   71.2833      2
2              3         1       3    1      0      0    7.9250      1
3              4         1       1    1      1      0   53.1000      2
4              5         0       3    0      0      0    8.0500      1
5              6         0       3    0      0      0    8.4583      1
6              7         0       1    0      0      0   51.8625      1
7              8         0       3    0      3      1   21.0750      5
8              9         1       3    1      0      2   11.1333      3
9             10         1       2    1      1      0   30.0708      2
10            11         1       3    1      1      1   16.7000      3
11            12         1       1    1      0      0   26.5500      1
12            13         0       3    0      0      0    8.0500      1
13            14         0       3    0      1      5   31.2750      7
14            15         0       3    1      0      0    7.8542      1
15            16         1       2    1      0      0   16.0000      1
16            17         0       3    0      4      1   29.1250      6
17            18         1       2    0      0      0   13.0000      1
18            19         0       3    1      1      0   18.0000      2
19            20         1       3    1      0      0    7.2250      1
20            21         0       2    0      0      0   26.0000      1
21            22         1       2    0      0      0   13.0000      1
22            23         1       3    1      0      0    8.0292      1
23            24         1       1    0      0      0   35.5000      1
24            25         0       3    1      3      1   21.0750      5
25            26         1       3    1      1      5   31.3875      7
26            27         0       3    0      0      0    7.2250      1
27            28         0       1    0      3      2  263.0000      6
28            29         1       3    1      0      0    7.8792      1
29            30         0       3    0      0      0    7.8958      1
..           ...       ...     ...  ...    ...    ...       ...    ...
861          862         0       2    0      1      0   11.5000      2
862          863         1       1    1      0      0   25.9292      1
863          864         0       3    1      8      2   69.5500     11
864          865         0       2    0      0      0   13.0000      1
865          866         1       2    1      0      0   13.0000      1
866          867         1       2    1      1      0   13.8583      2
867          868         0       1    0      0      0   50.4958      1
868          869         0       3    0      0      0    9.5000      1
869          870         1       3    0      1      1   11.1333      3
870          871         0       3    0      0      0    7.8958      1
871          872         1       1    1      1      1   52.5542      3
872          873         0       1    0      0      0    5.0000      1
873          874         0       3    0      0      0    9.0000      1
874          875         1       2    1      1      0   24.0000      2
875          876         1       3    1      0      0    7.2250      1
876          877         0       3    0      0      0    9.8458      1
877          878         0       3    0      0      0    7.8958      1
878          879         0       3    0      0      0    7.8958      1
879          880         1       1    1      0      1   83.1583      2
880          881         1       2    1      0      1   26.0000      2
881          882         0       3    0      0      0    7.8958      1
882          883         0       3    1      0      0   10.5167      1
883          884         0       2    0      0      0   10.5000      1
884          885         0       3    0      0      0    7.0500      1
885          886         0       3    1      0      5   29.1250      6
886          887         0       2    0      0      0   13.0000      1
887          888         1       1    1      0      0   30.0000      1
888          889         0       3    1      1      2   23.4500      4
889          890         1       1    0      0      0   30.0000      1
890          891         0       3    0      0      0    7.7500      1

     CatFare
0          0
1          3
2          1
3          3
4          1
5          1
6          3
7          2
8          1
9          2
10         2
11         2
12         1
13         3
14         0
15         2
16         2
17         1
18         2
19         0
20         2
21         1
22         1
23         3
24         2
25         3
26         0
27         3
28         0
29         0
..       ...
861        1
862        2
863        3
864        1
865        1
866        1
867        3
868        1
869        1
870        0
871        3
872        0
873        1
874        2
875        0
876        1
877        0
878        0
879        3
880        2
881        0
882        1
883        1
884        0
885        2
886        1
887        2
888        2
889        2
890        0

[891 rows x 9 columns]

In [7]:
#Find which of the remaining features show nulls

print(train_data.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Sex            0
SibSp          0
Parch          0
Fare           0
FamSz          0
CatFare        0
dtype: int64

In [8]:
#Repalace all NaN with 0 - assuming Passengers with missing ages are babies

#train_data['Age'] = train_data['Age'].fillna(0)
#test_data['Age'] = test_data['Age'].fillna(0)

#print(train_data)

In [9]:
#Create a new feature 'Status' from the 'Names' column

train_data['Status'] = np.nan
train_data['Status'][train_data.Name.str.contains('Mr.')] = 'Mr'
train_data['Status'][train_data.Name.str.contains('Mrs.')] = 'Mrs'
train_data['Status'][train_data.Name.str.contains('Miss.')] = 'Miss'
train_data['Status'][train_data.Name.str.contains('Master.')] = 'Master'
train_data['Status'][train_data.Name.str.contains('Rev.')] = 'Rev'

In [10]:
#train_data['Survived'] = pd.Categorical(train_data.Survived).codes

# Feature Selection

In [11]:
# Select features and target for our classifier

features = ['Pclass', 'Sex', 'Fare']
target = 'Survived'

In [12]:
#View first 5 rows of features data
train_data[features].head()

#View first 5 rows of target data

train_data[target].head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
#Add a cross validation set
[train_data_tr, train_data_cv] = train_test_split(train_data, test_size = .25, random_state = 42)

Xtr = train_data_tr[features]
Ytr = train_data_tr[target]
Xtrcv = train_data_cv[features]
Ytrcv = train_data_cv[target]

In [14]:
#Create the decision tree with default parameters

clf = DecisionTreeClassifier()

#Fit Decision Tree to our training features target values
clf.fit(Xtr,Ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
#Check Feature Importance

clf.feature_importances_

array([ 0.12868961,  0.39577367,  0.47553671])

# Fit Models

In [16]:
#Make predictions using the train data features

predictions = clf.predict(Xtrcv)

In [17]:
predictions

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0])

In [18]:
#Check Accuracy of our Predictions on the Train Data

accuracy = accuracy_score(Ytrcv, predictions)
accuracy

0.820627802690583

In [19]:
#Do CV with 100 folds

scores = cross_val_score(clf, train_data[features], train_data[target], cv = 100, scoring = 'accuracy')
scores.mean()

0.82513888888888887

In [20]:
#Now let's try with Logistic Regression

lr = LogisticRegression()
lr.fit(Xtr,Ytr)
lr_predictions = lr.predict(Xtrcv)

In [21]:
#Let's check accuracy for the Logistic Regression model as well

lr_accuracy = accuracy_score(Ytrcv, lr_predictions)
lr_accuracy

0.77130044843049328

In [22]:
#Do CV  with 100 folds for Logistic Regression

scores = cross_val_score(lr, train_data[features], train_data[target], cv = 100, scoring = 'accuracy')
scores.mean()

0.7810555555555555